:root{
    --green-color: #33D1CC;
    --dark-color: #19283F;
    --orange-color:#ffc400;
    --lightgray-color:#eff7fa;
}
*{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color: #19283F;
}
.navbar ul li a{
    color: white;
}

.navbar ul li a:hover,
.navbar ul li a.active,
.navbar ul li a:focus{
    color: var(--green-color);
}
.navbar .search{
    border-left: 1px solid var(--green-color);
}
.navbar .search svg{
    color: var(--green-color);
}
.navbar [type="button"]{
    border-radius: 50px;
    color: var(--orange-color);
    font-weight: 600;
}
.navbar .menu{
    color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.25rem;
}

.navbar .menu[aria-expanded ="true"]{
    border-color: var(--green-color);
}
.navbar .menu svg{
    color: white;
    font-size: 1.8rem;
}
/*          content Start       */
.main-content{
    width: 100%;
    height: calc(100vh - 72px);
    background-color: var(--dark-color);
}
.main-content h1{
    color: white;
}
.main-content p{
    color: #8C949F;
    font-weight: 600;
}
.main-content [type="button"]{
    width: fit-content;
    height: 40px;
    color: var(--orange-color);
    font-weight: 500;
    border-radius: 50px;
}
/*          content End       */

/*          sec-2 Start       */

.sec-2 div::after,
.sec-5 .line::after{
    content: "";
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
}
.sec-2 .links :first-child{
    color: var(--orange-color);
    border-radius: 20px;
    height: 40px;
    line-height: 10px;
}
.sec-2 .links a:hover{
    color: #FF3150!important;
}
/*          sec-2 End       */

/*          sec-3 Start       */
.sec-3 .icon_holder{
    height: 200px;
}
.sec-3 .number{
    color: var(--lightgray-color);
    font-size: 12rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.sec-3 .icon{
    color: var(--green-color);
    font-size: 4.5rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}
.sec-3 h4{
    color: var(--orange-color);
}
/*          sec-3 End       */

/*          sec-4 Start       */
.sec-2.sec-4{
    background-color: #EFF7FA;
}
.sec-2.sec-4 .box::after{
    content: "Application";
    width: 100%;
    height: 100%;
    background-color: rgb(95, 216, 212,0.6);
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    left: -100%;
    transition: 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-2.sec-4 .box:hover::after{
    left: 50%;
}
.sec-2.sec-4 [type="button"]{
    color: var(--orange-color);
}
/*          sec-4 End       */
/*          sec-5 Start       */

.sec-5 .left button{
    color: var(--orange-color);
}
/*          sec-5 End       */

/*          sec-6 Start       */
.sec-6{
    background-color: #eff7fa;
}
/*          sec-6 End       */

/*          Footer Start       */
footer{
    background-color: var(--dark-color);
}
footer p,
footer li a{
    color: #85949F;
    text-decoration: none;
}
footer ul{
    list-style-type: none;
}
